@font-face {
    font-family: SourceCodePro;
    src: url('https://static.siccegge.de/WOFF/OTF/SourceCodePro-Regular.otf.woff');
}

@font-face {
    font-family: SourceSansPro;
    src: url('https://static.siccegge.de/WOFF/OTF/SourceSansPro-Regular.otf.woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: SourceSansPro
}

body {
    background-color: #B3E1FF;
}

#frame {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 90%;
    max-width: 80em;
    background-color: #fff;
    border: 2px solid #0011CA;
}

#header {
    background-color: #A2A5CA;
    border-bottom: 2px solid #0011CA;
    color: #000;
}

#header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#nav li {
    display: inline-block;
    border: 2px solid #0011CA;
    background-color: #A2A5CA;
    margin-left: 0.5em;
    margin-top: -2px;
}

#nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: 2px;
}

#nav a:hover {
    color: #fff;
    background-color: #0011CA;
}

.document {
    margin:1em;
}

.document h1 {
    margin-top: 1.2em;
    margin-bottom: .8em;
}

.document h2 , .document h3 {
	margin-top: .8em;
	margin-bottom: .3em;
}

.document ul {
    margin-left: 2em;
}

.document p {
    margin: .2em;
}

.literal-block {
    font-family: SourceCodePro;
    background-color: #eee;
    display:inline-block;
    margin: .5em;
}